.rodape {
    background-color: #3182ce;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.rodape p {
    margin: 0;
}