.rodape {
    background-color: #3182ce;
    color: #fff;
    text-align: center;
    padding: 25px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    z-index: 1000;
}

.rodape p {
    margin: 0;
}